<!DOCTYPE html>
<html lang="en" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>devievi</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="materialize.min.css" media="screen,projection"/>
</head>
<body style="font-family:Raleway,sans-serif;">
<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<div id="navi">
    <nav class="nav-extended">
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a class="active"href="#test1">Playlist</a></li>
                <li class="tab"><a href="#test2">SoundCloud</a></li>
                <li class="tab"><a href="#test4">Youtube</a></li>
            </ul>
        </div>
    </nav>
</div>
<div id="container">
    <div class="col s12 m7">
        <div class="waves-effect card horizontal cyan">
            <div class="card-image">
                <img height="140" width="140" src="https://i1.sndcdn.com/artworks-000225922233-qyawh1-t500x500.jpg">
            </div>
            <div class="card-stacked">
                <div style="color:white;" class="card-content">
                    <div class="title"><b>Serene</b></div>
                    <p>EspiDev</p>
                    <p>4:16</p>
                    <p>Unknown Album</p>
                </div>
            </div>
            <a class="white-text btn btn-floating pulse orange">1</a>
        </div>
        <div class="waves-effect card horizontal cyan">
            <div class="card-image">
                <img height="140" width="140" src="https://i1.sndcdn.com/artworks-000124408528-ogk5de-t500x500.jpg">
            </div>
            <div class="card-stacked">
                <div style="color:white;" class="card-content">
                    <div class="title"><b>So Yummy</b></div>
                    <p>Dachs</p>
                    <p>2:25</p>
                    <p>Unknown Album</p>
                </div>
            </div>
            <a class="white-text btn btn-floating pulse orange">2</a>
        </div>
        <div class="waves-effect card horizontal cyan">
            <div class="card-image">
                <img height="140" width="140" src="https://i1.sndcdn.com/artworks-000201051626-qhopr5-t500x500.jpg">
            </div>
            <div class="card-stacked">
                <div style="color:white;" class="card-content">
                    <div class="title"><b>nikuman</b></div>
                    <p>Harito</p>
                    <p>3:00</p>
                    <p>Gone Fishing!</p>
                </div>
            </div>
            <a class="white-text btn btn-floating pulse orange">3</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="client.js"></script>
</body>
</html>