<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<script type="text/javascript" src="jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<div class="card-panel cyan accent-3 z-depth-4">
    <img src="../favicon.ico" height=80px class="circle center-align">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">account_circle</i>
                    <input id="username" type="text" class="validate">
                    <label for="username" data-error="Not a valid username!">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password" data-error="Incorrect password!">Password</label>
                </div>
            </div>
            <a class="center-align waves-effect waves-light btn-large">Login</a>
        </form>
    </div>
</div>
</body>
</html>